
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    background: none;
    border: none;
}
*::-webkit-scrollbar{

}
html{
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    min-width:100vh;
    min-height: 100vh;
}
a{
    text-decoration: none;
}
ul ,ol{
    list-style-type: none;
}
